<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="modal" id="modal">
            <div class="modal__inner">
                <a class="modal__close" id="modal-close" href="#">
                    <div class="line"></div>
                    <div class="line"></div>
                </a>
                <form class="modal__form form" method="post">
                    <input type="email" placeholder="Email" class="input form__email">
                    <p class="form__label">Your should confirm your email.</p>
                    <button type="submit" class="form__submit-btn">Send conirmation mail</button>
                </form>
            </div>
        </div>
        <header class="header">
            <div class="container header__container">
                <div class="header__wrapper">
                    <div class="header__icon icon"></div>
                    <nav class="nav header__nav">
                        <div class="nav__items">
                            <a class="nav__item link" href="#">Author</a>
                            <a class="nav__item link" href="#">Blog</a>
                            <a class="nav__item link" href="#modal">Account</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    <footer class="footer">
            <div class="container">
                <div class="footer__socials">
                    <div class="footer__social"><img alt="" src="{% static 'img/github.png' %}"
                                                     width="45" height="45"></div>
                </div>
                <div class="footer__copyright">Copyright ©2022 All rights reserved </div>
            </div>
    </footer>
</body>
</html>