@import './normalize.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// vars

$primary-color: #272727;
$secondary-color: #9EE800;
$danger-color: #C53434;


// common


.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section {
    width: 100%;
}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.link {
    color: #629FD8;
    text-decoration: none;
    
    &_active {
        color: $secondary-color;
    }

    &:hover {
        opacity: .8;
    }
}

.line {
    height: 1px;
    background-color: $primary-color;
    margin: 50px 0 50px 0;
}

.main {
    flex: 1 0 100%;
}
// header

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primary-color;
    
    &__wrapper {
        padding: 12px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    &__items {
        display: flex;
    }

    &__item {
        color: #fff;
        &:not(:last-child) {
            margin-right: 65px;  
        }
    }
}

// author section 

.section__author {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author {
    &__wrapper {
        height: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        flex: 1 0 50%;

        img {
            width: 200px;
            height: 200px;
            border-radius: 60px;
            object-fit: cover;
        }

    }

    &__content {
        flex: 0 1 50%;
    }

    &__title {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
    }

    &__subtitle {
        margin-bottom: 12px;
        font-size: 24px;
    }

    &__subscribe {
        cursor: pointer;
        font-weight: 500;
        border: none;
        background-color: $secondary-color;
        padding: 12px 100px;
    }
}


// posts section 

.posts {

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }


    &__item {
        padding: 20px 30px 20px 30px;
        background-color: #FDFDFD;
        box-shadow: 0px 4px 10px 0px #00000040;
        border-radius: 40px;
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }

    &__more {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.post {
    &__title {
        font-weight: 600;
        font-size: 24px;
    }

    &__date {
        font-weight: 300;
    }

    &__subtitle {
        line-height: 18.75px;
        margin: 20px 0 20px 0;
    }
    &__link {
        font-weight: 300;
        font-size: 24px;
        color: #4C92D3;
        margin-bottom: 30px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}


//footer 

.footer {
    width: 100%;
    background-color: #EAF7FF;
    padding: 35px 0 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__socials {
        margin-bottom: 15px;
    }

    &__social {
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }
}

.socials {
    display: flex;
}

// modal

.modal {
  transition: transform 0.3s 0s;
  transform: translate(0, 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal:target {
  transition: transform 0.2s 0s;
  transform: translate(0, 0);
}
.modal:target .modal__inner {
  transition: transform 0.3s 0.2s;
  transform: scale(1);
}
.modal::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(113, 113, 113, 0.65);
  width: 100%;
  height: 100%;
}
.modal__close {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.8;
}
.modal__close .line {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: #272727;
  height: 1px;
  width: 100%;
}
.modal__close .line:nth-child(1n) {
  transform: rotate(-45deg);
}
.modal__close .line:nth-child(2n) {
  transform: rotate(45deg);
}
.modal__inner {
  transform: scale(0);
  position: relative;
  z-index: 15;
  background-color: #fff;
  padding: 70px 60px;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__email {
  outline: none;
  padding: 10px 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.form__label {
  margin: 5px 0 20px 0;
}
.form__submit-btn {
  font-weight: 500;
  border: none;
  text-align: center;
  padding: 15px 0;
  background: #9EE800;
  cursor: pointer;
}
.form__submit-btn:hover {
  transition: opacity 250ms linear 0s;
  opacity: 0.8;
}

// user page 
.user {
    &__header {
        box-sizing: content-box;
        margin: 0 0 40px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img-container {
        max-width: 200px;
        max-height: 200px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
    }

    &__logout {
        border-radius: 8px;
        cursor: pointer;
        background-color: $danger-color;
        font-weight: 500;
        padding: 14px 45px;
        text-decoration: none;
        color: $primary-color;

        &:hover {
            transition: opacity .3s linear 0s;
            opacity: .9;
        }
    }
}